html, body {
    margin:5px;
    height:100%;
 }

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 0fr 0.5fr ;
    background-color: rgb(245, 242, 239);
    color: rgb(22, 21, 21);
    font-family: Verdana;
    width: 100%;
    min-width: 540px;
    margin-bottom: 20px;
    }


.box {
    background-color: #ccc;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.picturebox {
    display: grid;
    background-color: #ccc;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.intro {
    background: linear-gradient(to bottom left,  rgba(203, 107, 248, 0.8), rgb(241, 122, 168));
    grid-column: 1 / 3;
    grid-row: 1;
    }

p {
    font-size: 15px;
    color: #161616;
    padding: 10px;
    background-color: rgba(255,255,255,0.5);
}

.menu {
    background-color: rgba(248, 164, 115, 0.932);
    grid-column: 3;
    grid-row: 1/3;
}


/*effect-underline*/
a {
    text-decoration: wavy underline;
    color: white;
    
  }

a:hover {
    text-decoration: none;
}

.pic1 {
    background-color: rgb(238, 196, 232);
    grid-column: 1;
}



svg:hover .eye {
    fill: red;
}


/*source for svg-container and svg-content http://thenewcode.com/744/Make-SVG-Responsive*/
.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}



.pic2 {
    background-color: rgb(238, 196, 232);
    grid-column: 2;
}


.picturebox p {
    font-size: 15px;
    color: #161616;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}

.doc {
    grid-column: 1/4;
    grid-row: 3;
    background: linear-gradient(to bottom right,  rgba(245, 109, 177, 0.7), rgba(43, 89, 182, 0.7));
    font-size: 15px;
    cursor:pointer;
    text-align: center;
    transition: 1s;
  }
  .doctext {
    font-size: 13px;
    color: #444444;
    font-family: Arial;
    background-color: rgba(255,255,255,0.5);
    overflow: hidden;
    height:0px;
    margin-top:0px;
    text-align:left;
    cursor: text;
    padding-left: 12px;
    padding-right: 12px;
    transition: height 1s;
}

.svg-container {
    animation: shake 0.7s linear infinite ;
}

.canvas-container {
    animation: shake 0.7s linear infinite ;
    width: 100%;
}


  @keyframes shake {
    0% { transform: translateX(-21px)}
    10% { transform: translateX(-5px) }
    20% { transform: translateX(-21px)}
    30% { transform: translateX(-5px)}
    40% { transform: translateX(-21px)}
    50% { transform: translateX(-5px) }
    60% { transform: translateX(-21px)}
    70% { transform: translateX(-5px) }
    80% { transform: translateX(-21px)}
    90% { transform: translateX(-5px)}
    100% { transform: translateX(-13px) }
  }



  

